<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
                <div class="top_content">
                    <h1>All Users</h1>
                </div>
            <a href="/register"><button type="button" class="btn btn-primary" style="margin-left:1080px; margin-bottom: 32px; background-color: black;">Add User</button></a>
    
        </div>
    </div>
</div>