<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
  <div class="dropdown-divider"></div>
  <a href="/logout" class="dropdown-item logout">
    <i class="ni ni-user-run"></i>
    <span class="logout">Logout</span>
  </a>
</div>
