<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main" >
  <div class="container-fluid" >
      <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/"><b>Home</b></a>
  </div>
</nav>
