<html lang="en">
<!-- Argon Scripts -->
<!-- Core -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Optional JS -->
<script src="/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="/js/argon.min.js?v=1.0.0"></script>

<style>
  .back_button {
    display: flex;
    align-items: center;
  }

  /* custom styles */
  label {
    display: block;
  }

  .sec_table td,
  .sec_table th,
  table.sec_table {
    border: solid 1px #d9d9d9 !important;
  }

  .main_table td,
  .main_table th,
  table.main_table {
    border: solid 1px #d9d9d9 !important;
    vertical-align: top;
    margin-right: 10px;
  }


  .table.sec_table>tbody>tr>td,
  .table.sec_table>tbody>tr>th,
  .table.sec_table>tfoot>tr>td,
  .table.sec_table>tfoot>tr>th,
  .table.sec_table>thead>tr>td,
  .table.sec_table>thead>tr>th {
    border-top: solid 1px #d9d9d9 !important;
  }

  .table.third_table>tbody>tr>td,
  .table.third_table>tbody>tr>th,
  .table.third_table>tfoot>tr>td,
  .table.third_table>tfoot>tr>th,
  .table.third_table>thead>tr>td,
  .table.third_table>thead>tr>th {
    border: solid 1px #ddd !important;
  }

  table td,
  table th,
  table tr {
    border: solid 1px #ffffff !important;
  }

  body {
    margin: 0;
    background: #fff !important;
  }

  h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .dashboard {
    margin: 90px 0;
  }

  button a {
    color: #fff;
  }

  div#toggleInvoice ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin-top: 2rem;
  }

  div#toggleInvoice ul.creat_top_From li {
    width: 49%;
    margin-bottom: 2rem;
  }

  /* 
      .slector_list {
        width: 41%;
      } */

  .conta_iner {
    width: 1200px;
    margin: 0px auto;
    padding: 6rem 0px;
  }

  .gst_num_main {
    display: flex;
    justify-content: space-between;
  }

  .gst_number_box {
    width: 70%;
    height: 147px;
    padding: 17px;
  }

  .table_main {
    width: 28% !important;
  }


  table.sec_table {
    margin-top: 3rem;
    border: solid 1px #d9d9d9 !important;
  }

  h3 {
    font-size: 30px;
    width: 948px;
  }

  table.third_table {
    width: 100% !important;
    float: right;
    border: 1px solid lightgray;
    margin-left: 300px;
  }

  table.forth_table {
    width: 100% !important;
    float: right;
    margin-top: 25px;
  }

  .download_btn button {
    color: #fff;
    font-size: 16px;
  }

  .cont_main h1 {
    font-size: 27px;
    font-weight: 600;
  }

  .cont_main h3 {
    font-size: 21px;
    font-weight: 500;
    padding: 1rem 0px;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  .text {
    padding-block-start: 50px;
  }

  .text1 {
    padding-block-start: 10px;
  }

  .main_table {
    width: 100%;
  }

  .nullHeading:first-child {
    border-left: solid 1px #d9d9d9 !important;
  }

  .nullHeading {
    width: 8% !important;
    border-left: unset !important;
    border-right: unset !important;
  }

  table.table.gst_amount td,
  table.table.gst_amount th {
    border: unset !important;
  }

  table.table.gst_amount td table.third_table.table1 th,
  table.table.gst_amount td table.third_table.tablel td,
  table.table.gst_amount td table.third_table.tablel tr {
    border: solid 1px gray !important;
  }

  table.table.gst_amount td table.forth_table.table2 th,
  table.table.gst_amount td table.forth_table.table2 td,
  table.table.gst_amount td table.forth_table.table2 tr {
    border: solid 1px #ddd !important;
  }

  table.table.gst_amount td:last-child {
    width: 40%;
  }

  table.table.gst_amount td table.third_table.table1 tbody {
    border: solid 1px gray !important;
  }

  #toggleInvoiceTable {
    padding-right: 10px;
  }

  .btn-primary {
    color: #fff;
    background-color: #5e72e4;
    border-color: #5e72e4;
    border: none;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #5e72e4;
    border-color: #5e72e4;
    border: none;
  }

  textarea.form-control {
    height: auto;
    width: 102.5%;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  .form_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .create_invoice_left {
    box-shadow: 0 0 20px #00000024;
    padding: 20px;
    width: 65%;
  }

  input,
  select,
  textarea {
    background-color: #fff !important;
    border: solid 1px #ddd;
    padding: 11px;
    resize: none;
  }

  .form-group {
    margin-bottom: 0;
  }

  div#toggleInvoice ul.creat_top_From li:nth-child(3) {
    width: 100%;
  }

  div#toggleInvoice ul li:nth-child(3) textarea {
    height: 90px;
    resize: none;
  }

  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #999 !important;
    opacity: 1 !important;
  }

  div#second_form ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  #second_form .form_group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  div#second_form ul li {
    width: 24%;
  }

  div#second_form ul li input {
    width: 100%;
  }

  .negative_positive_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @media(max-width:1200px) {
    .form_row {
      flex-wrap: wrap;
    }

    .create_invoice_left {
      width: 100%;
    }

    .create_invoice_right.invoices--side {
      margin-top: 3rem;
      text-align: center;
      width: 100%;
    }

    .create_invoice_right.invoices--side .btn-group-vertical {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .create_invoice_right_button {
      width: 32% !important;
      margin: 0 !important;
    }

    .create_invoice_right_button button {
      padding: 9px 20px !important;
    }
  }

  @media(max-width:991px) {
    .create_invoice_right.invoices--side .btn-group-vertical {
      flex-direction: column;
    }

    .create_invoice_right_button {
      width: 100% !important;
      margin-bottom: 10px !important;
    }

    .card-header {
      padding: 0 !important;
    }

    div#toggleInvoice ul li:nth-child(3) textarea {
      height: 60px;
    }


  }

  @media(max-width:767px) {
    div#toggleInvoice ul.creat_top_From li {
      width: 100%;
    }

    div#second_form ul li {
      width: 100%;
      margin-bottom: 10px;
    }
  }
</style>
<title>Invoices</title>


<% include ../partials/head %>

<body>
  <% include ../partials/sidebar %>
  <div class="main-content">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/"><b>Create Invoice</b></a>
      </div>
    </nav>
    <% include ../partials/header %>
    <div class="container-fluid mt--8">
      <div class="sub_main_parent" style="width: 100%;">
        <div class="card shadow">
          <div class="card-header">
            <div id="toggleInvoice">
              <form id="first_form" role="form" action="createinvoice" method="POST">
                <div class="form_row">
                  <div class="create_invoice_left">
                    <ul class="creat_top_From">
                      <li>
                        <div class="form-group">
                          <label class="control-label " for="start">Name<span style=" color: red">*</span></label>
                          <div class="">
                            <input type="text" id="name" class="CreateForm" name="name" placeholder="Enter Name"
                              style="width: 100%;" required>
                          </div>
                          <div class="error" id="nameErr">
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="form-group">
                          <label for="start">Mobile:</label>
                          <div class="">
                            <input type="tel" pattern="[789][0-9]{9}" id="mobile" name="mobile" placeholder="Enter Mobile No(Optional)" maxlength="10"
                              style="width: 100%;">
                          </div>
                          <div class="error" id="nameErr">
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="form-group">
                          <label class="control-label " for="start">Address:</label>
                          <textarea class="CreateForm" name="address" id="address" style="width: 100%;">
                        </textarea>
                        </div>
                      </li>
                      <li>
                        <div class="form-group">
                          <label class="control-label " for="start">Issue Date<span style=" color: red">*</span></label>
                          <div class="i i-date-range">
                            <input type="text" id="issuedate" name="issuedate" class="CreateForm" style="width: 100%;"
                              required>
                          </div>
                          <div class="error" id="issuedateErr"></div>
                        </div>
                      </li>
                      <li>
                        <a data-toggle="tooltip" data-placement="right"
                          title=" due date should be greater than issuedate">
                          <div class="form-group">
                            <label class="control-label " for="start">Due Date<span style=" color: red">*</span></label>
                            <div class="">
                              <input type="text" id="duedate" onkeypress="return false;" name="duedate"
                                class="CreateForm" style="width: 100%;" required>
                            </div>
                            <div class="error" id="duedateErr"></div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <div class="form-group">
                          <label for="start">Select Currency:</label>
                          <div class="">
                            <select name="currency" id="ddlViewBy" class="CreateForm" style="width: 100%;"
                              onchange="onChange(this);">
                              <option value="USD" id="usd">United States Dollars &#36; </option>
                              <option value="INR" id="inr" selected>Indian Rupees &#8377; </option>
                            </select>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="form-group">
                          <label for="start">GST Number:</label>
                          <div class="">
                            <input class="CreateForm" type="text" id="gstnumber" name="gstnumber" placeholder="Optional"
                              style="width: 100%;">
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div id="second_form">
                      <div id="nvoice-qty-pric-0" class="nvoice-qty-pric">
                        <ul>
                          <li>
                            <div class="form_group">
                              <label style="font-size: 13px;font-weight: 600;">Description</label>
                              <input type="text" class="slector_list" name="description" type="text" id="description"
                                style=" border: none; border-bottom: 1px solid #ddd;padding: 0;">
                            </div>
                          </li>
                          <li>
                            <div class="form_group">
                              <label style="font-size: 13px;font-weight: 600;">Quantity <span
                                  style=" color: red">*</span></label>
                              <input type="number" id="quantity" class="quantity" name="quantity" required
                                style=" border: none; border-bottom: 1px solid #d9d9d9;padding: 0;">
                            </div>
                          </li>
                          <li>
                            <div class="form_group">
                              <label style="font-size: 13px;font-weight: 600;">Price <span
                                  style=" color: red">*</span></label>
                              <input type="number" id="price" name="price" class="price" required
                                style="border: none; border-bottom: 1px solid #ddd;padding: 0;">
                            </div>
                          </li>
                          <li>
                            <div class="form_group">
                              <label style="font-size: 13px;font-weight: 600;">Subtotal </label>
                              <input type="number" name="subtotal" class="subtotal"
                                style="border: none; border-bottom: 1px solid #ddd;padding: 0;" readonly>
                            </div>
                          </li>
                        </ul>
                        <button type="button" class="closeRandSect"
                          style="float: right; margin-left: 6px; display:none; background: #5e72e4; color:#fff ;border: none; padding: 4px 10px; margin-top: 9px; float: right;">-</button>
                      </div>
                    </div>
                    <div class="negative_positive_button">
                      <button type="button" id="addbtn" class="mb4"
                        style="background: #5e72e4;color: #fff;border: none;padding: 4px 10px;margin-top: 9px;">+</button>
                    </div>
                    <div>
                      <ul>
                        <li>
                          <div>
                            <label class="control-label " for="start">GST Total</label>
                            <div class="">
                              <input type="number" name="gst" class="gsttotal"
                                style="border: none;border-bottom: 1px solid #ddd;" readonly>
                            </div>
                          </div>
                        </li>
                        <li>
                          <span>
                            <b>
                              Total Amount</b>
                          </span>
                          <div class="">
                            <input type="number" name="totalamount" class="totalamount"
                              style="border: none;border-bottom: 1px solid #ddd;" readonly>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="create_invoice_right invoices--side">
                    <div class="btn-group-vertical">
                      <div class="create_invoice_right_button" style="width:100%;">
                        <button class="btn btn-default btn-block btn-lg" name="final" value="final"
                          style="background-color: #5e72e4;font-size: 16px;padding: 9px 10px;border:solid 1px #ddd; color: black;box-shadow: none;">
                          Finalize
                        </button>
                      </div>

                      <div class="create_invoice_right_button" style="width:100%;margin: 2rem 0;">
                        <button type="submit" id="submit" class="btn btn-default btn-block btn-lg"
                          style="background-color: #5e72e4;font-size: 16px;padding: 9px 87px; color: black;border:solid 1px #ddd;box-shadow: none;">
                          Save Invoice <i class="fa fa-save" style="margin-left:10px;">
                          </i>
                        </button>
                      </div>
                      <div class="create_invoice_right_button" style="width:100%;">
                        <a href="/invoices">
                          <button type="button" class="btn btn-default btn-block btn-lg"
                            style="background-color: #5e72e4;color: black; padding: 9px 123px;font-size: 16px;border:solid 1px #ddd;box-shadow: none;"
                            onclick="myFunction()">Clear
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
    function testInput(event) {
      var value = String.fromCharCode(event.which);
      var pattern = new RegExp(/[a-zåäö ]/i);
      return pattern.test(value);
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    function myFunction() {
      document.getElementById("first_form").reset();
    }
  </script>

  <script>
    var strUser = 'INR';
    function onChange(e) {
      strUser = e.value;
    }
    $(document).ready(function () {
      var total = [];
      var subtotal = 0;
      $(document).on('change', '.quantity,.price', function () {
        $(".quantity").each(function (i, v) {
          $(".price")[i].value
          var q1 = $(this).val();

          subtotal = q1 * $(".price")[i].value
        });
        pttal = 0
        pttal += subtotal
        $(this).closest('.nvoice-qty-pric').find('.subtotal').val(pttal);
          $('.subtotal').each(function (index) {
          total[index] = $(this).val();
        });
        let currencysign = ''
        currencysign = strUser == 'INR' ? '₹' : '$'

        var totalAmount = 0;
        gstTotal = 0
        if (total.length) {
          for (var i = 0; i < total.length; i++) {
            totalAmount += total[i] << 0;
          }
       
          if (strUser == 'INR') {
            gstTotal += 0.18 * totalAmount
            totalAmount += gstTotal;
          }
          else {
            if (strUser == 'USD')
              totalAmount = totalAmount
          }
          console.log(gstTotal.toFixed(2));
          
          $('.gsttotal').val(gstTotal.toFixed(2));
          $(".totalamount").val(totalAmount);
        }
      });

      $(document).on('click', '.closeRandSect', function () {
        pttal = 0
        $(".quantity").each(function (i, v) {
          $(".price")[i].value
          var q1 = $(this).val();
          subtotal = q1 * $(".price")[i].value;
          pttal += subtotal
        });
        var totalAmount = pttal;
        var gstTotal = 0
        if (pttal) {
          if (strUser == 'INR') {
            gstTotal += 0.18 * pttal
            totalAmount += gstTotal;
          }
          else {
            if (strUser == 'USD')
              totalAmount = pttal
          }

          $('.gsttotal').val(gstTotal.toFixed(2));
          $(".totalamount").val(totalAmount);
        }
      })
    });
  </script>
  <script>
    var counter = 0;
    $(document).on("click", "#addbtn", function () {
      counter = $('.nvoice-qty-pric').length;
      if (counter) {
        $("#rmbtn").css('display', 'block')
      }
      var div = $("#nvoice-qty-pric-0").clone();
      div.find('input,textarea').each(function (e) {
        $(this).val('')
      })
      div.appendTo("#second_form");
      $('.nvoice-qty-pric').each(function (v, i) {
        $(this).attr("id", "nvoice-qty-pric-" + v)
        if (counter > 0)
          $(this).find('button').show()
        else
          $(this).find('button').hide()
      });
    });
    $(document).on("click", ".closeRandSect", function () {
      $(this).parent("div").remove()
      counter = $('.nvoice-qty-pric').length;
      $('.nvoice-qty-pric').each(function (v, i) {
        $(this).attr("id", "nvoice-qty-pric-" + v)
        if (counter > 1)
          $(this).find('button').show()
        else
          $(this).find('button').hide()
      })
    })
  </script>
  <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>  
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet"
    type="text/css" />
  <script>
    $(document).ready(function () {
      $("#issuedate").datepicker({
        numberOfMonths: 1,
        onSelect: function (selected) {
          var dt = new Date(selected);
          dt.setDate(dt.getDate() - 0);
          $("#duedate").datepicker("option", "minDate", dt);
        }
      });
      $("#duedate").datepicker({
        numberOfMonths: 1,
        onSelect: function (selected) {
          var dt = new Date(selected);
          dt.setDate(dt.getDate() - 0);
          $("#issuedate").datepicker("option", "maxDate", dt);
        }
      });
    });
  </script>
</body>
</html>